.header {
  position: fixed;
  background: #fff;
  display: flex;
  align-items: center;
  padding: 6px 20px;
  z-index: 100;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.headerContent {
  display: flex;
  padding-top: 10px;
  justify-content: space-between;
  width: 100%;
}
.headerContent img {
  width: auto;
}
.headerContent h2 {
  font-weight: 500;
  font-size: 26px;
  line-height: 33px;
  
  color: #000000
}
.headerContent p {
  font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
padding-top: 3px;
/* identical to box height, or 114% */

letter-spacing: 0.03em;

color: #9A9A9A;

}

.headerContent h5 {
  font-size: 16px;
  font-weight: 400;
}
.searchBar fieldset {
  border: none !important;
  box-shadow: none;
}
/* Admin activity logs */
.user_logs{
  /* padding: 1rem 0; */
}

.user_logs .log {
  display: flex;
  padding: 12px 16px;
  gap: 16px;
  justify-content: space-between;
}
.log_text {
  color: #1f53d7;
  font-size: 1rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
}
.user_logs .log .time {
  font-size: 15px;
  color: #9d9caf;
  font-style: italic;
  text-align: right;
  white-space: nowrap;
}

@media (max-width: 900px) {
  .headerContent h5 {
    display: none;
  }
  .headerContent h2 {
    margin-bottom: 0px;
  }
}
.headerActionsWrapper  {
  display: flex;
  justify-content: center;
  width: 60%;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.headerActionsWrapper div:nth-child(2) {
  text-align: right;
  padding-top: 20px;
}
.headerActionsWrapper div:nth-child(2) span {
  color: red;
  font-weight: 500;
}
.headerActions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 16px;
  margin-right: -12px;
}
.headerActions span {
  /* background-color: #eef5fc; */
  /* width: 35px;
  height: 35px; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  cursor: pointer;
  border-radius: 3px;
}
/* clickAway */
.clickAway {
  position: relative;
  margin-top: -20px;
}
.userMenu {
  position: absolute;
  border-radius: 10px;
  padding: 16px 0;
  background-color: #fff;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  width: 100%;
  min-width: 250px;
  right: 14px;
  margin-top: 12px;
}
.userMenu ul {
  list-style: none;
  padding: 0;
}
.userMenu ul li {
  text-align: left;
  padding: 10px 16px;
  transition: 0.3s;
  cursor: pointer;
}
.userMenu ul li:last-child {
  color: red;
}
.userMenu ul li:hover {
  background-color: #f1f1f1;
}
@media (max-width: 900px) {
  .clickAway span {
    display: none;
  }
}
.clickAway span:nth-child(1) {
  display: flex;
  column-gap: 1px;
  align-items: center;
  width: auto;
  background-color: #fff;
  font-weight: 500;
  color: #111;
}
.clickAway span:nth-child(1) span {
  background-color: #fff;
  width: auto;
  color: #111;
}
.toggleMenu {
  margin-top: -7px;
  margin-left: -12px;
}
@media (min-width: 900px) {
  .toggleMenu {
    display: none;
  }
}

/* Sidebar */
.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 36px;
}
.logo img {
  width: auto;
}
.companyWrapper {
  height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  margin-top: 16px;
  padding: 0 6px;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.companyWrapper img {
  width: auto;
}
.companyInfo {
  display: flex;
  gap: 5px;
}
.companyInfo div:nth-child(2) span:nth-child(1) {
  font-size: 16px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
.companyInfo div:nth-child(2) span:nth-child(2) {
  font-size: 13px;
  font-weight: 400;
  color: #6c6b6b;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
.list {
  background-color: transparent;
  margin-top: 28px;
  padding: 0;
  list-style: none;
}
.listItem {
  display: flex;
  align-items: center;
  column-gap: 16px;
  margin-bottom: 28px;
  color: #878181;
  font-size: 14px;
  cursor: pointer;
}
.listItem span {
  width: 20px;
  height: 20px;
  object-fit: cover;
  display: flex;
  align-items: center;
}
.listItemContent {
  cursor: pointer;
  font-family: "Rubik", sans-serif;
  color: #878181;
  font-size: 14px;
  display: block;
  margin-bottom: 8px;
}
.ListItemText span {
  font-family: "Rubik", sans-serif !important;
  color: #878181 !important;
  font-size: 14px !important;
}
.MuiDrawer-root .MuiPaper-root {
  background: "#F5F5F5" !important;
}

/* Sidebar Links */
.sidebar_links ul {
  list-style: none;
  padding: 0;
}
.sidebar_links ul li a {
  color: #343a40;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
  padding: 14px 18px;
  transition: 0.3s ease;
  font-weight: 500;
  border-radius: 3px;
}
.sidebar_links ul li a:hover {
  background-color: #eee;
}
.sidebar_links ul li a span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar_links .main_menu,
.preference_menu {
  text-transform: uppercase;
  font-size: 12px;
  color: #a2aab2;
  font-weight: 500;
  margin-bottom: 15px;
}
.active_link {
  background-color: #343a40;
  color: #fff !important;
  border-radius: 4px;
}
.list_top {
  
}

.list_bottom{
  position: absolute;
  width:87%;
  bottom: 30px;
  background-color: #fff;
}


/* Dialog */
.dialog_title {
  padding: 16px;
}
.dialog_title .section_title {
  flex-wrap: nowrap;
  align-items: flex-start;
}
.dialog_title .section_title .header h2 {
  font-size: 20px !important;
}
.dialog_title .section_title .header p {
  font-size: 12px !important;
}

.dialog_content {
  padding: 16px;
  color: #000 !important;
  /* min-height: 800px; */
}
